
.main-info{
    background-color: none;
    margin: auto;
    justify-content: center;
    text-align: center;

}

.footer-contacts{
    position: fixed;
    bottom: 0;
    width: 100%;
   
}

nav{
    display: flex;
}

.icon{
    width: 2vw;
    height: 2vh;
}

#contact{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh; 
}

.navbar-custom {
    background-color: #F8F0E5;
}

.custom-main {
    background-color: #EADBC8;
}

body{
    background-color: #DAC0A3;
}

.addButton{
    position: relative;
    transition: transform 1s ease;
}



#cart {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
}

.cart-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-button {
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #ff3333;
}